button{
    color: #0ff;
    background: black;
}
button:hover{
    color: blue;
}
*{
    background: #0ff;
    text-align: center;
}
button{
    margin-top: 400px;
    width: 100px;
    height: 50px;
}
a{
    color: black;
    font-size: 40px;  
}